.app {
    display: grid;
    grid-template-columns: 480px 1fr;
    min-height: calc(100vh - 89px);
}
.form {
    background: #181818;
    border-right: 1px solid #2a2a2a;
    padding: 40px 40px 60px;
    overflow-y: auto;
    max-height: calc(100vh - 89px);
    position: sticky;
    top: 0;
}

/*Заголовок*/
.section-title {
    font-family: 'Space Mono', monospace;
    font-size: 11px;
    color: #e8c97e;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2a2a2a;
}
.section-title:first-child { margin-top: 0; }

.templates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 4px;
}

/*Кнопки*/
.tpl-btn {
    background: #0e0e0e;
    border: 2px solid #2a2a2a;
    border-radius: 10px;
    padding: 12px 8px 10px;
    cursor: pointer;
    text-align: center;
    color: #888;
    font-size: 11px;
    font-family: 'Space Mono', monospace;
    letter-spacing: .5px;
}
.tpl-btn:hover {
    background-color: #0e0e0e;
    border: 2px solid #e8c97e;
    color: #e8c97e;
}
.tpl-btn.active {
    background: rgba(232,201,126,.08);
    border: 2px solid #e8c97e;
    color: #e8c97e;
}
.icon { 
    font-size: 22px; 
    display: block; 
    margin-bottom: 6px; 
}