* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background: #0e0e0e;
    color: #f0ece4;
    font-family: 'DM Sans', sans-serif;
}

/* Шапка */
.header {
    padding: 40px 60px 32px;
    align-items: center;
    gap: 16px;
    border-bottom: solid 1px #2a2a2a;
}
.header-logo {
    color: #e8c97e;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 1px;
}
.header-sub { 
    color: #888;
    font-size: 13px;
    letter-spacing: .5px;
}

/* Форма */
.app {
    display: grid;
    grid-template-columns: 480px 1fr;
}
.form {
    background: #181818;
    border-right: 1px solid #2a2a2a;
    padding: 40px 40px 700px;
}
.title {
    font-family: 'Space Mono', monospace;
    font-size: 11px;
    color: #e8c97e;
    letter-spacing: 2px;
    border-bottom: 1px solid #2a2a2a;
    padding-bottom: 10px;
}

.options {
  display: grid;
}

.button {
    background: #0e0e0e;
    border: 2px solid #2a2a2a;
    border-radius: 10px;
    padding: 12px 8px 10px;
    cursor: pointer;
    text-align: center;
    color: #888;
    font-size: 11px;
    font-family: 'Space Mono', monospace;
    letter-spacing: .5px;
}